* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main-container {
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 1fr .5fr 8fr .5fr;
  height: 99vh;
  gap: 5px;
}

.top {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #363f54;
  color: #fff;
}

.logo {
  font-size: 32px;
  font-weight: 900;
  margin: 20px;
}

.top ul {
  display: flex;
  justify-content: space-evenly;
}

.top ul li {
  list-style: none;
  margin-right: 80px;
}

.side {
  grid-column: 1 / 2;
  grid-row: 2 / 4;

  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 50px;
  background-color: rgba(239, 142, 38, 0.84);
}

.box {
  flex: 1;
  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.one {
  border-radius: 10px;
}

.box p {
  text-align: center;
}

.titles {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  
  background-color: rgba(239, 142, 38, 0.84);
  height: 100%;
}

.title {
  text-align: center;
  color: white;
  font-size: 18px;
}

.main {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-color: #8597b18b;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-template-rows: repeat(4, 1fr);
  gap: 15px;
  padding: 15px;
}

.card {
  background-color: #fff;
}

.card p {
  padding: 10px;
  font-size: 14px;
}

.sub-title {
  padding: 10px;
  text-align: center;
}

.bot {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  background-color: #363f54;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

